name: DAST Scan - OWASP ZAP

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: ${{ secrets.APP_URL }}
          fail_action: false
          # -I ignores informational alerts
          # failOnWarn=false ensures warnings don’t break the pipeline
          # failOnInfo=false ensures info alerts don’t break the pipeline
          cmd_options: "-I -config failOnWarn=false -config failOnInfo=false"
          artifact_name: "zap-report"
