name: DAST Scan - OWASP ZAP

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
      id-token: write
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: ${{ secrets.APP_URL }}
          fail_action: false
          # -I ensures warnings do not fail the pipeline
          cmd_options: "-I"
          artifact_name: "zap-report"

      - name: Upload ZAP Reports
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: |
            zap-report.html
            zap-report.md
            zap-report.json
